<script src="/js/lunr.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<script>
  {% assign counter = 0 %}
  var documents = [
    // Loop over site pages
    {% for page in site.pages %}
      // Exclude pages with '.xml' or 'assets' in the URL
      {% if page.url contains '.xml' or page.url contains 'assets' %}
      {% else %}
      {
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
      },
      {% assign counter = counter | plus: 1 %}
      {% endif %}
    {% endfor %}

    // Loop over pages in 'site.without-plugin'
    {% for page in site.without-plugin %}
    {
      "id": {{ counter }},
      "url": "{{ site.url }}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
    },
    {% assign counter = counter | plus: 1 %}
    {% endfor %}

    // Loop over site posts
    {% for page in site.posts %}
    {
      "id": {{ counter }},
      "url": "{{ site.url }}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
    }{% if forloop.last %}{% else %}, {% endif %}
    {% assign counter = counter | plus: 1 %}
    {% endfor %}
  ];

  var idx = lunr(function () {
    this.ref('id');
    this.field('title');
    this.field('body');

    documents.forEach(function (doc) {
      this.add(doc);
    }, this);
  });

  function lunr_search(term) {
    var resultsContainer = document.getElementById('lunrsearchresults');
    var searchInput = document.getElementById('lunrsearch');
    resultsContainer.innerHTML = '';

    if (term) {
      var results = idx.search(term);
      if (results.length > 0) {
        var resultsList = document.createElement('ul');
        resultsList.classList.add('search-results');

        for (var i = 0; i < results.length; i++) {
          var ref = results[i]['ref'];
          var url = documents[ref]['url'];
          var title = documents[ref]['title'];
          var body = documents[ref]['body'].substring(0, 160) + '...';

          var listItem = document.createElement('li');
          listItem.classList.add('search-result');

          var link = document.createElement('a');
          link.href = url;
          link.classList.add('search-result-link');

          var titleElement = document.createElement('span');
          titleElement.classList.add('search-result-title');
          titleElement.textContent = title;

          var bodyElement = document.createElement('span');
          bodyElement.classList.add('search-result-body');
          bodyElement.textContent = body;

          link.appendChild(titleElement);
          link.appendChild(document.createElement('br'));
          link.appendChild(bodyElement);

          listItem.appendChild(link);
          resultsList.appendChild(listItem);
        }

        resultsContainer.appendChild(resultsList);
      } else {
        var noResults = document.createElement('p');
        noResults.classList.add('search-no-results');
        noResults.textContent = "No results found...";
        resultsContainer.appendChild(noResults);
      }
    }
    return false;
  }
</script>



<div class="search">
  <form class="search-form">
    <label class="search-label" for="lunrsearch">Search on FELOOP</label>
    <div class="search-wrapper">
      <input
        type="text"
        class="search-input"
        id="lunrsearch"
        name="q"
        maxlength="255"
        placeholder="Search on FELOOP"
        oninput="lunr_search(this.value)"
      />
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <div id="lunrsearchresults"></div>
</div>
