<ul class="social-media-list">
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/keivan-tafakkori"
      ><i class="fa fa-linkedin-square" style="color: rgb(26, 89, 207)"></i>
      <span class="username">{{ site.linkedin_username| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.twitter_username -%}
  <li>
    <a href="https://twitter.com/KTafakkori"
      ><i class="fa fa-twitter" style="color: rgb(34, 163, 189)"></i>
      <span class="username">{{ site.twitter_username| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.youtube_username -%}
  <li>
    <a href="https://www.youtube.com/channel/UCgln8g9GjMi_Sh6P0k2DkOQ"
      ><i class="fa fa-youtube-play" style="color: rgb(220, 25, 22)"></i>
      <span class="username">{{ site.youtube_username| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.github_username -%}
  <li>
    <a href="https://github.com/ktafakkori/"
      ><i class="fa fa-github" style="color: rgb(52, 53, 52)"></i>
      <span class="username">{{ site.github_username| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.stackoverflow_username -%}
  <li>
    <a href="https://stackoverflow.com/users/19078738/keivan-tafakkori"
      ><i class="fa fa-stack-overflow" style="color: rgb(136, 85, 18)"></i>
      <span class="username">{{ site.stackoverflow_username| escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if site.googlescholar_username -%}
  <li>
    <a
      href="https://scholar.google.com/citations?hl=en&user=eoCLWfYAAAAJ&view_op=list_works&sortby=pubdate"
      ><i
        class="ai ai-google-scholar-square"
        style="color: rgb(22, 86, 170)"
      ></i>
      <span class="username">{{ site.googlescholar_username| escape }}</span></a
    >
  </li>
  {%- endif -%}
</ul>
