<script src="https://utteranc.es/client.js"
        repo="ktafakkori/ktafakkori.github.io"  <!-- Specify the repository for comments -->
        issue-term="title"  <!-- Use the page title as the issue term -->
        label="blogpost-comment"  <!-- Set a label for the comments -->
        theme="github-dark"  <!-- Choose the comment theme (in this case, GitHub Dark) -->
        crossorigin="anonymous"  <!-- Specify the crossorigin attribute -->
        async>  <!-- Load the script asynchronously -->
</script>
