.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.md-typeset__table td,
.md-typeset__table th {
    font-size: 18px;
}

@font-face {
    font-family: 'Proxima Nova', sans-serif;
    src: 'https://fonts.cdnfonts.com/css/proxima-nova-2'
}

:root {
    --md-text-font: "Noto Serif";
    --md-code-font: "Noto Mono";
  }
  